.DS_Store
/nbproject/private/
/target/
/help/lib/
/help/docbook/
/help/docbook-xml-*/
/src/main/java/net/freerouting/freeroute/designformats/specctra/SpecctraFileScanner.java
/src/main/java/net/freerouting/freeroute/interactive/LogfileScanner.java
/src/main/java/net/freerouting/freeroute/GUIDefaultsScanner.java
/src/main/resources/helpset/
*~
